@font-face {
font-family: 'Source Sans Pro';
src: url("SourceSansPro-Regular.ttf")
}


html{
    min-height: 100%;
} 

body {
    height:100%;
    width:100%;
  margin: 0;
  padding: 0;

}

canvas{
    position:fixed;
    top:0;
    left:0;
}



html,body{
    min-height: 100%;
    width:100%;
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;

}
.container{
    height:100%;
    width:100%;
    position:relative;
    display:inline-block;
}
a{
    color:white;
    text-decoration:none;
}
a:active{
    color:white;
    text-decoration:none;
}
a:visited{
    color:white;
    text-decoration:none;
}
ul{
    position:relative;
    display:inline-block;
    list-style: none;
    line-height: 5vw;
    color:white;
}
li{
    font-size: 1vw;
    color: mediumvioletred;
}
.nav{
    position:absolute;
    width: 25%;
    margin-top: 0vh;
    z-index: 1;
    font-size: 1vw; 
    overflow: hidden;
    list-style: none;
    color:palevioletred;
    
}

.nav a {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: rgb(247, 213, 209);
    color: black;
}



/* Hide the link that should open and close the topnav on small screens */
.nav .icon {
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {display: none;}
  
  
    
 
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}







.blog_container{
    position:relative;
    display:inline-block;
    color: black;
    text-align:center;
    width:50%;
    height:50%;
    margin-left:45%;
    margin-top:2%;
    stroke: white;
    font-size: 10vw;
    z-index: 1;
    
}
.info_container{
    height:100%;
    width:;
    margin-top:5%;
    position:relative;
    font-size:1.vw;
    
}
h1{
    font-size:3vw;
    font-family: 'Source Sans Pro', sans-serif;
}

.mara {
    font-size: 6vw;
    margin-left:50%;
    width: 50vw;
    z-index: 999999;
    margin-top: 20vw;
    position:absolute;
    color: white;
     font-family: 'Source Sans Pro', sans-serif;
    
}

.drag {
    font-size: .7vw;
    margin-left: 80vw;
    width: 50vw;
    z-index: 99;
    margin-top: 1vw;
    position:fixed;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    
}

.drag:hover{
    text-decoration: line-through;
}





.gallery {
    font-size:2vh;
}



.blog_container{
   height: 100vh;
    width: 100vw;
    margin-left:0vw;
    margin-top: 25vh;
    
    
}


div.gallery {
   
    
}

.desc {
    color: white;
    float:left;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
}
div.gallery:hover {

}

div.gallery img {
    width: 100%;
    height: auto;
    padding:2vw;
}

div.desc {
    padding: 5px;
    
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

h2 {
 color: white;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    text-decoration: overline;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
        
    }
    
    .button_blog {
        margin-top: 500px;
        position: absolute;
    }
    
    
    
    
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.button_blog {
   border: none;
    outline: 0;
    display: inline-block;
    padding: 1vw;
    color: black;
    position: absolute;
    z-index: 99999999;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    cursor: pointer;
    margin-top: 2vh;
    margin-bottom: 10vh;
    margin-left:43vw;
    width: 15vw;
    border: 5px; 
    background-color:rgb(247, 213, 209);
    text-decoration: underline;
    font-size: 3vh;
}


/* code for responive top nav from here: https://www.w3schools.com/howto/howto_js_topnav_responsive.asp 

code for responsive gallery from here: responsive image gallery: https://www.w3schools.com/css/css_image_gallery.asp ; https://www.w3schools.com/css/tryit.asp?filename=trycss_image_gallery_responsive*/
     
      
.title1 {
    
    margin-left: 5vw;
    color: darkslategray;
    text-decoration: none;
    z-index:99;
    padding-top:5vw;
    
}
      

.title{
    margin-left: 5vw;
    color: navy;
    text-decoration: none;
    z-index:99;
    padding-top:2vw;
      color:darkslategrey;

}

.minititle {
    font-family: 'Source Sans Pro', sans-serif;
    margin-left:7vw;
    padding: 1vw;
    
    color: darkmagenta;
    
}


.paraabout {
    margin-left:10vw;
    width: 40vw;
      color:darkslategrey;
       font-family: 'Source Sans Pro', sans-serif;
}



.list {
    font-family: 'Source Sans Pro', sans-serif;
    width:40vw;
    margin-left:10vw;
    color:darkslategrey;
    
}

.list2 {
    font-family: 'Source Sans Pro', sans-serif;
    width:50vw;
    margin-left:10vw;
    color:darkslategrey;
    padding-bottom:15vh;
    
}


.row {
    margin-top: 10vh;
    margin-left: 5vw;
}


body {
  margin: 40px;
}

.wrapper {
    
margin-top: 10vh;
    height: 100vh;
  display: grid;
  grid-template-columns: 1vw 40vw 40vw;
  grid-gap: 2vw;

 
}

.box {
 
  border-radius: 5px;
  padding: 2px;
  
}

.a {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 1;
  margin-left: 5vw;
}
    
.b {
    margin-left:2vw; ;
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 1;
	}


.c {
        margin-top:-30vh;
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 2 ;
  margin-left: 5vw;
        font-size: 1vw;
}
    
.d {
    margin-left: 2vw; ;
    margin-top:-30vh;
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 2;
		grid-row-end: 2;
    font-size: 1vw;
    
	}

#para2 {
    
    margin-top: 2vh
}

.copyright {
    font-size: 2vh;
     font-family: 'Source Sans Pro', sans-serif;
    color: dimgray;

}

.copyright:hover {
    font-size: 2vh;
     font-family: 'Source Sans Pro', sans-serif;
    text-decoration: overline;

}
	

.aboutme {
    font-size: 2.5vh;
     font-family: 'Source Sans Pro', sans-serif;
    color: dimgray;
    background-color: azure;
    padding:4vw;
    width: 50vw;
    margin-top: 10vh;
   margin-left:30vw;
    
    
}

.response {
    font-size: 2vh;
    font-family: 'Source Sans Pro', sans-serif;
    color: dimgray;
    background-color: lightcyan;
    padding:2vw;
    width: 30vw;
    margin-top: 2vh;
   margin-left:30vw;
    
     
}

.wrapper {
        font-family: 'Source Sans Pro', sans-serif;
    
}





 
     


